<section class="position-absolute top-0 full-vp d-flex justify-content-between flex-column text-white">
  <div class="w-100 d-inline-flex justify-content-between">
    <div id="" class="m-3 border-solid border-1 border-white p-2 rounded-3 text-warning">
      <label class="fw-bold">Points</label>
      <label id="points-label">1234</label>
    </div>
    <div class="m-3 border-solid border-1 border-white p-2 rounded-3 text-danger">
      <label id="lives-label">1234</label>
      <label class="fw-bold">Lives</label>
    </div>
  </div>
  <div class="w-100 d-inline-flex justify-content-between">
    <div id="" class="m-3 border-solid border-1 border-white p-2 rounded-3">
      <label class="fw-bold">TBD</label>
      <label id="">1234</label>
    </div>
    <div id="" class="m-3 border-solid border-1 border-white p-2 rounded-3">
      <label class="fw-bold">TBD</label>
      <label id="">1234</label>
    </div>
  </div>
</section>
