@import "~bootstrap/scss/bootstrap";

canvas {
  width: 600px; // TODO review
  height: 600px; // TODO review
  border-width: 1px;
  border-color: white;
  border-style: solid;
}

.full-vp {
  min-height: 100vh !important;
  min-width: 100vw !important;
  height: 100vh !important;
  width: 100vw !important;
  max-height: 100vh !important;
  max-width: 100vw !important;
}

.border-solid {
  border-style: solid;
}
